{{input key-up=(action "filterListOfUsers") type="text" value=firstName placeholder="Enter first name"}}
{{yield filteredUsers}}

<button {{action "newTest"}}>Click this</button>
{{!-- Second training attempt --}}
{{!-- <label>Name:</label>
{{input type="text" value=firstUser.name}}

<label>Occupation:</label>
{{input type="text" value=firstUser.occupation}}

<button type="submit">Submit</button> --}}



{{!-- <h1>Hi this is a component</h1>
<p>this is some additional text</p>

{{yield}}

{{#if hasBlock}}
<footer>
  <p>Additional text</p>
</footer>
{{/if}} --}}